body {
  background: #2e2e2e;
}
.todo-app {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px auto;
  border-radius: 10px;
  padding-bottom: 32px;
  
}
h1 {
  margin: 32px 0;
  color: rgb(236, 216, 216);
  font-size: 24px;
}
.complete {
  text-decoration: line-through;
  opacity: 0.4;
}
.todo-form {
  margin-bottom: auto;
}
.todo-input {
  width: 200px;
  border-radius: 6px;
  border: 1px solid #ccc;
  max-width: 100%;
  padding: 14px;
  border: 2px solid #5d0cff;
  outline: none;
  background: transparent;
  color: rgb(0, 252, 168);
  text-align: left;

}

.todo-input-filter {
  width: 200px;
  border-radius: 6px;
  border: 1px solid rgb(18, 151, 204);
  max-width: 100%;
  padding: 14px;
  border: 2px solid #5d0cff;
  outline: none;
  background: transparent;
  color: rgb(0, 252, 168);
  text-align: left;
  margin-left: 5px;
}
.todo-input-filter1 {
  width: 230px;
  border-radius: 6px;
  padding: 14px;
  border: 2px solid #5d0cff;
  outline: none;
  background: transparent;
  color: rgb(27, 139, 167);
  text-align: left;
}
.todo-input-filter1.edit{
  margin-top: 20px;
  border: 2px solid rgb(0, 253, 97);
  color: rgb(0, 252, 168);
}
.todo-input::placeholder {
  color: #ffffff;
}
.todo-button {
  padding: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  background: rgb(8, 192, 216);
  color: rgb(255, 255, 255);
}
.todo-input.edit {  
  margin-top: 20px;
  border: 2px solid rgb(0, 253, 97);
}
.todo-input.edit1 {
  margin-top: 20px;
  border: 2px solid rgb(0, 253, 97);
}
.todo-button.edit {
  background: rgb(0, 255, 136);
  padding: 1px;
}
.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}
.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  color: #fff;
  background:rgb(223, 152, 0);
  padding: 16px;
  border-radius: 5px;
  width: 60ch;
}
.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: rgb(252, 0, 0);
}

.edit-icon {
  color: rgb(0, 253, 97);
}

.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  justify-content: center;
}
.expenses-list{
  list-style: none;
  padding: 0;
}

.expenses-list__fallback{
  color:white;
  text-align: center;
}

.todo-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
}
.todo-item-date{
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 2.5rem;
  border: 1px solid #ececec;
  background-color: #4c4c4e;
  color: rgb(255, 255, 255);
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}
.todo-item-description{
  display: flex;
  margin-left: 80px;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
  color: white;
  background-color: #136877;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 10px;
}
.todo-item-status{
  margin-left: 80px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #233570;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
}